<Server version="8">
    <Name>VakedRadio</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <Modules>
        <WebRTC>
            <Signalling>
                <Port>3333</Port>
                <TLSPort>3334</TLSPort>
            </Signalling>
            <IceCandidates>
                <IceCandidate>${OME_HOST_IP}:10000-10005/udp</IceCandidate>
            </IceCandidates>
        </WebRTC>
    </Modules>
    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Provider>
                <Type>rtmp</Type>
                <Port>1935</Port>
            </Provider>
            <Publisher>
                <Type>webrtc</Type>
            </Publisher>
        </VirtualHost>
    </VirtualHosts>
</Server>
